.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav a,
.nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  cursor: pointer;
  border-radius: 0.2rem;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #858383;
  outline: none;
}

.nav a:global(.active) {
  box-shadow: 0 0 0 3px #fea;
}

.nav a:global(.active) svg > * {
  fill: #fb1;
}
