.graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  font-size: 1.7rem;
}

.span {
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  background: #eee;
  font-family: var(--type-first);
  font-size: 1.9rem;
}

.graphItem {
  padding: 0.5rem 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  border-radius: 0.2rem;
}

.total {
  grid-column: 1 / 3;
  padding: 2rem;
  font-size: 2rem;
}

@media (max-width: 40rem) {
  .graphs {
    grid-template-columns: 1fr;
  }
  .total {
    grid-column: 1;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .span {
    padding: 0.4rem 0.6rem;
    font-size: 1.2rem;
  }
}
