.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.form.single{
  margin: 1rem 0;
}

.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background: #eee;
  scale: 0.99;
  transition: 0.2s;
}
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 1px #fea;
}

.textarea:focus {
  scale: 1.01;
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.button {
  border: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
}

.button:focus,
.button:hover {
  outline: none;
}

.button:focus svg path,
.button:hover svg path {
  fill: #fea;
  stroke: #fb1;
}

.button:hover svg g,
.button:focus svg g {
  animation: barking 0.7s infinite;
}

@keyframes barking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .textarea {
    display: block;
    width: 90%;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-left: 0.5rem;
  }
  .button {
    font-size: 1rem;
    padding: 0;
    margin-right: 2.5rem;
  }
}
