/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset Css */
* {
  box-sizing: border-box;
  font-size: calc(1rem + 2px);
}
body {
  padding-top: 4rem;
  margin: 0px;
  color: #333;
  --type-first: Roboto, monospace, Helvetica, Arial, sans-serif;
  --type-second: DejaVu Sans Mono, monospace;
  font-family: var(--type-first);
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}
button:disabled {
  color: #eee;
  display: flex;
  align-items: center;
}
button:disabled::after {
  content: '';
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #eead2d;
  border-right-color: transparent;
  animation: loadingInf 0.6s infinite ease;
}
@keyframes loadingInf {
  to {
    transform: rotate(360deg);
  }
}

/* Classes gerais */
.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}
.title::after {
  content: '';
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;
  border-radius: 0.2rem;
  z-index: -1;
  bottom: 4px;
  left: -5px;
}
.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.error {
  color: #f31;
  width: max-content;
  margin: 0.5rem 0;
}

/* Animacoes Gerais */
.animeLeft {
  opacity: 0;
  transform: translateX(-25px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
