.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #fb1;
  color: #764709;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.2s;
}
.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fea, 0 0 0 3px #fb1;
}
.button:disabled {
  cursor: wait;
  opacity: 0.5rem;
}
